.is-top-aligned {
    margin-top: 5%;
}

.is-center-block {
    float: none;
    margin: 0 auto;
}

#startpage .input-group {
    margin: 50px auto;
}

h1 a {
    color: #333;
}

h1:hover a {
    color: #555;
    text-decoration: none;
}