.is-top-aligned {
    margin-top: 5%;
}

.is-center-block {
    float: none;
    margin: 0 auto;
}

.issue-label {
    margin-right: 5px;
}

.avatar {
    border-radius: 5px;
    height: 50px;
    width: 50px;
}

.avatar.small {
    height: 25px;
    width: 25px;
}

#startpage .input-group {
    margin: 50px auto;
}

h1 a {
    color: #333;
}

h1:hover a {
    color: #555;
    text-decoration: none;
}

footer {
    margin: 25px 0 25px 0;
}