<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <title>GitHub Search</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/angular.chartjs/latest/angular-chart.css" />
        <link rel="stylesheet" href="css/base.css" />
    </head>
    <body ng-app="githubsearch">
        <div class="container" ng-view>

        </div>

        <script type="text/ng-template" id="githubsearch-tpl-index">
            <div class="jumbotron text-center is-top-aligned" id="startpage">
                <h1>
                    <i class="fa fa-github-alt" aria-hidden="true"></i>
                    GitHub Search
                </h1>
                <p>Search for any GitHub projects and see what happens!</p>
                <form novalidate>
                    <div class="input-group input-group-lg col-lg-6 col-md-6 col-sm-8">
                        <span class="input-group-addon" id="basic-addon1">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </span>
                        <input type="text" ng-model="searchterm.repo" class="form-control" aria-describedby="basic-addon1" autofocus />
                    </div>
                    <div>
                        <button type="submit" ng-click="search(searchterm)" class="btn btn-primary btn-lg">Let's go</button>
                        <button type="button" ng-click="lucky()" class="btn btn-default btn-lg">I'm feeling lucky</button>
                    </div>
                </form>
            </div>
        </script>

        <script type="text/ng-template" id="githubsearch-tpl-search-in-progress">
            <div ng-controller="SearchCtrl">
                <div class="jumbotron text-center is-top-aligned" id="search-in-progress" ng-if="searchInProgress">
                    <h1>
                        <small><i class="fa fa-github fa-spin fa-3x fa-fw margin-bottom"></i></small>
                    </h1>
                    <p>
                        Warming up the flux capacitor, hang on&hellip;
                    </p>
                </div>
                <div class="jumbotron text-center is-top-aligned" id="search-in-progress" ng-if="!searchInProgress">
                    <h1>
                        <a href="#" ng-href="#/">
                            <i class="fa fa-github-alt" aria-hidden="true"></i>
                            GitHub Search
                        </a>
                    </h1>
                    <p ng-if="found > 30">We have {{found}} match for "{{term}}", here's the first 30:</p>
                    <p ng-if="found < 30 && found > 0">Your search for "{{term}}" matched {{found}} repos:</p>

                    <div ng-if="found < 1">
                        <p>Sorry, we have nothing like "{{term}}" on GitHub.</p>
                        <p>
                            <a ng-href="#/" class="btn btn-primary btn-lg" role="button">
                                Try again!
                            </a>
                        </p>
                    </div>

                    <div ng-if="error">
                        <p>
                            <i class="fa fa-frown-o" aria-hidden="true"></i>
                        </p>
                        <p>We have some issues with wires and stuff. Come back later!</p>
                    </div>
                </div>

                <div class="container" ng-if="!searchInProgress && found > 0">
                    <div class="list-group is-center-block col-lg-8 col-md-6 col-sm-8">
                        <a ng-repeat="repo in repositories" ng-href="#/repo/{{repo.full_name}}" class="list-group-item">
                            <h4 class="list-group-item-heading">
                                {{repo.full_name}}
                                <span class="pull-right">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    {{repo.stargazers_count}}
                                    <i class="fa fa-code-fork" aria-hidden="true"></i>
                                    {{repo.forks_count}}
                                    <i class="fa fa-ticket" aria-hidden="true"></i>
                                    {{repo.open_issues}}
                                </span>
                            </h4>
                            <p class="list-group-item-text">
                                {{repo.description | limitTo: 100}}{{ repo.description.length > 100 ? '…' : '' }}
                                {{repo.description.length < 5 ? 'No description. At all.' : ''}}
                            </p>
                        </a>
                    </div>
                    <footer>
                        <p class="text-center">No luck? <a ng-href="#/">Try again!</a></p>
                    </footer>
                </div>
            </div>
        </script>

        <script type="text/ng-template" id="githubsearch-tpl-repo">
            <div ng-controller="RepoCtrl">
                <div class="jumbotron text-center is-top-aligned" id="repo-view" ng-if="searchInProgress">
                    <h1>
                        <small><i class="fa fa-github fa-spin fa-3x fa-fw margin-bottom"></i></small>
                    </h1>
                    <p>
                        Feeding Mr. Fusion, hold on&hellip;
                    </p>
                </div>
                <div class="jumbotron text-center is-top-aligned" id="show-repo" ng-if="!searchInProgress">
                    <h1>
                        <a href="#" ng-href="#/">
                            <i class="fa fa-github-alt" aria-hidden="true"></i>
                            GitHub Search
                        </a>
                    </h1>

                    <div ng-if="notFound">
                        <p>
                           <i class="fa fa-frown-o" aria-hidden="true"></i>
                        </p>
                        <p>Sorry, we've got an ugly 404 type of error.</p>
                        <p>
                            <a ng-href="#/" class="btn btn-primary btn-lg" role="button">
                                Try again!
                            </a>
                        </p>
                    </div>

                    <div ng-if="error && !notFound">
                        <p>
                            <i class="fa fa-frown-o" aria-hidden="true"></i>
                        </p>
                        <p>We have some issues with wires and stuff. Come back later!</p>
                    </div>
                </div>

                <div class="container" ng-if="!searchInProgress && !error">
                    <div class="row is-center-block col-lg-8 col-md-6 col-sm-8">
                        <header class="well">
                            <h2>
                                <img alt="avatar" class="avatar" src="{{repo.owner.avatar_url}}" />
                                {{repo.full_name}}
                            </h2>
                            <p>
                                This <b>{{repo.language}}</b> project has
                                </b><i class="fa fa-star" aria-hidden="true"></i>
                                <b>{{repo.stargazers_count || "no"}}</b> stars,
                                <i class="fa fa-code-fork" aria-hidden="true"></i>
                                <b>{{repo.forks_count || "no"}}</b> forks and
                                <i class="fa fa-ticket" aria-hidden="true"></i>
                                <b>{{repo.open_issues || "no" }}</b> open issues.
                            </p>
                        </header>
                        <section>
                            <h3 class="page-header">Description</h3>
                            <p>{{repo.description}}</p>
                        </section>
                        <section>
                            <h3 class="page-header">URLs</h3>
                            <p>
                                <b>Git URL:</b>
                                <pre>{{repo.git_url}}</pre>
                            </p>

                            <p>
                                <b>SSH URL:</b>
                                <pre>{{repo.ssh_url}}</pre>
                            </p>

                            <p>
                                <b>GitHub URL:</b>
                            <pre>{{repo.html_url}}</pre>
                            </p>
                        </section>
                        <section>
                            <h3 class="page-header">Some kind of stat</h3>
                            <canvas id="stat-chart" class="chart chart-radar" chart-data="data" chart-labels="labels"></canvas>
                        </section>
                        <section>
                            <h3 class="page-header">Open issues</h3>
                            <p ng-if="!repo.open_issues">
                                No open issues.
                                <i class="fa fa-smile-o" aria-hidden="true"></i>
                            </p>
                            <div class="list-group">
                                <p>
                                    This is just the first 30 issues. <a href="{{repo.html_url}}/issues" target="_blank">See all issues on GitHub &raquo;</a>
                                </p>
                                <a ng-repeat="issue in issues" href="{{issue.html_url}}" target="_blank" class="list-group-item">
                                    <h4 class="list-group-item-heading">
                                        {{issue.title}}
                                        <img alt="avatar" class="avatar small pull-right" src="{{issue.user.avatar_url}}" />
                                    </h4>
                                    <p>
                                        <span class="label label-default issue-label" ng-repeat="label in issue.labels">
                                            {{label.name}}
                                        </span>
                                    </p>
                                    <p class="list-group-item-text">
                                        Issue #{{issue.id}} opened on {{issue.created_at | date : 'fullDate' }} by {{issue.user.login}}.
                                    </p>
                                </a>
                            </div>
                        </section>
                    </div>
                    <footer>
                        <p class="text-center">You can always do a <a ng-href="#/">new search</a>, if you'd like to!</p>
                    </footer>
                </div>
            </div>
        </script>

        <script src="https://code.jquery.com/jquery-1.12.3.min.js" integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.1.1/Chart.min.js"></script>
        <script src="https://cdn.jsdelivr.net/angular.chartjs/latest/angular-chart.min.js"></script>

        <script src="js/modules/indexModule.js"></script>
        <script src="js/modules/searchModule.js"></script>
        <script src="js/modules/repoModule.js"></script>

        <script src="js/app.js"></script>
    </body>
</html>